<%= error_messages_for 'group' %>

<!--[form:team]-->
<table class="team_info">
	<tr>
	  <td class="t_i"><label for="group_title">Navn:</label></td>
	  <td class="t_i"><%= text_field 'group', 'title'  %></td>
	</tr>
	<tr>
		<td class="t_i"><label for="group_code">Kode:</label></td>
		<td class="t"><%= text_field 'group', 'code'  %></td>
	</tr>
</table>
<p/>

<label for="center">Center</label>
<% has_errors = !@group.errors[:parent].blank? %>
    <% if has_errors %><div class="fieldWithErrors"><% end %>
    <% grouped = @groups.group_by {|g| g.parent_or_self } %>
    <ul>
    	<% @groups.each do |group| %>
        <li>
          <% checked = @group.center == group && "checked='checked'" || "" %>
          <input class="group_parent" id="group_parent_<%= group.id %>" type="radio" name="group[parent]" value="<%= group.id %>" <%= checked %> />
          <label for="group_parent_<%= group.id %>"><%= group.title %></label>
        </li>
      <% end %>
    </ul>
  </dd>
</dl>

 <% if has_errors %></div><% end %>

<!--[eoform:team]-->

