<p><!-- <img src="/assets/users_64.png" border=0 align="middle" /> -->
<span class="h3">Teams</span></a><p>
</p>

<p>
<% if @teams.any? %>
<table class="sortable list" class="groups">
	<tr>
		<th class="wide" title="Sorter efter navn">Teams</th>
		<th title="Sorter efter SKS-kode">ID</th>
		<!-- <th class="narrow" title="Sorter efter antal brugere"><%# t('user.users') %></th> -->
		<th class="nosort">Journalhandling</th>
		<% if current_user.access? :show_column_actions %>
		<th title="">Teamhandling</th>
		<% end %>
	</tr>	

	<% @teams.each do |group| %>
	<tr>
		<td><a title="Vis Team" href="/teams/<%= group.id %>"><%= group.title %></td>
		<td><%= group.code %></td>
		<!-- <td style="text-align: right;"><%# group.users.size %></td> -->
		
		<td>
			<!-- <span class="action wide actions">
				<a title="Flyt journaler" href="/journals/select/<%= group.id %>"><img border="0" title="Flyt journaler" src="/assets/document_move_24.png" class="icon" alt="Flyt journaler"></a>
			</span> -->
			<span class="action">
				<a href="/reminders/<%= group.id %>">
					<%= image_tag 'traffic-light_24.png', :title => "Svarstatus", :class => "icon", :alt => "Svarstatus" %>
				</a>
				<a title="Eksporter brevfletningsdata" href="/journals/export_mails/<%= group.id %>.csv">
					<%= image_tag 'documents_email_24.png', :title => "Eksporter brevfletningsdata", :class => "icon", :alt => "Documents_email_24" %>
				</a>
			<span class="action"></span>
		</td>
		<% if current_user.access? :center_delete %>
		<td>
			<a title="Rediger" href="/teams/<%= group.id %>/edit">
				<%= image_tag 'group_edit_24.png', :title => "Rediger team", :class => "icon", :alt => "Group_edit" %>
			</a>
			<a title="Slet" href="/teams/delete/<%= group.id %>">
				<%= image_tag 'group_delete_24.png', :title => "Slet team", :class => "icon", :alt => "Group_delete"%>
			</a>
		</td>
		<% end %>
		<tr/>
		<% end %>
</table>
<% end %>
<p/>
<br/>
</p>
