<p>
<span class="h3">Teams</span>

	<span class="button" style="margin-left: 229px">
		<% group_id = current_user.access?(:superadmin) && 0 || @group.id %>
		<%= link_button t('team.new'), new_team_path(group_id), 'team_new', :title => t('team.new') %>
	</span>
</p>
<p>
<p>
<% if @teams.any? %>
<table class="sortable list" class="groups">
	<tr>
		<th class="extra_wide" title="Sorter efter navn">Teams</th>
		<th width="80px" class="narrow" title="Sorter efter SKS-kode">ID</th>
		<!-- <th class="narrow" title="Sorter efter antal brugere"><%# t('user.users') %></th> -->
		<th class="nosort">Journalhandling</th>
		<% if false && current_user.access?(:show_column_actions) %>
		<th title="">Teamhandling</th>
		<% end %>
	</tr>	

	<% @teams.each do |group| %>
	<tr>
		<td class="wide"><a title="Vis Team" href="/teams/<%= group.id %>"><%= group.title %></td>
		<td style="text-align: right;"><%= group.code %></td>
		<!-- <td style="text-align: right;"><%# group.users.size %></td> -->
		
		<td style="text-align: right;">
			<span class="action wide actions">
				<a title="Flyt journaler" href="/journals/select/<%= group.id %>">
					<%= image_tag 'document_move_24.png', :title => "Flyt journaler", :class => "icon", :alt => "Flyt journaler" %>

				</a>
			</span>
			<span class="action">
				&nbsp;
				<a href="/reminders/<%= group.id %>">
					<%= image_tag 'traffic-light_24.png', :title => "Svarstatus", :class => "icon", :alt => "Svarstatus" %>
				</a>
				<% if group.id == 9259 %>
				&nbsp;
				<a href="/mail_tasks/show/<%= group.id %>/0">
					<%= image_tag 'mailbox.png', :title => "Opfølgningsbreve", :class => "icon", :alt => "Opfølgningsbreve" %>
				</a>
				<% end %>
				&nbsp;
				<a title="Eksporter brevfletningsdata" href="/journals/export_mails/<%= group.id %>.csv">
					<%= image_tag 'documents_email_24.png', :title => "Eksporter brevfletningsdata", :class => "icon", :alt => "Documents_email_24" %>
				</a>
			<span class="action"></span>
		</td>
		<% if false && current_user.access?(:center_delete) %>
		<td>
			<a title="Rediger" href="/teams/<%= group.id %>/edit">
				<%= image_tag 'group_edit_24.png', :title => "Rediger team", :class => "icon", :alt => "Group_edit" %>
			</a>
			<a title="Slet" href="/teams/delete/<%= group.id %>">
				<%= image_tag 'group_delete_24.png', :title => "Slet team", :class => "icon", :alt => "Group_delete"%>
			</a>
		</td>
		<% end %>
		<tr/>
		<% end %>
</table>
<% end %>

<p/>
<br/>
</p>
