<%= stylesheet_link_tag 'blueprint/screen', :media => :all %>
<%= stylesheet_link_tag 'blueprint/print', :media => :print %>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawCharts);


      function drawCharts() {
      	<% @presenters.each_with_index do |p, i| %>
      	var data<%= i %> = google.visualization.arrayToDataTable([
	        <%= ([p.title] + p.groups.first.titles).inspect.html_safe %>,
        	<% p.groups.each_with_index do |group, i| %>
          	["<%= group.period %>", <%= group.scores.join(', ') %>]<%= i+1 < p.groups.size && "," || "" %>
        	<% end %>
        	]);

			var title<%= i %> = '<%= p.title %>';
    	    drawChart(data<%= i %>, title<%= i %>, <%= i %>);
      	<% end %>

      }

      function drawChart(data, title, i) {

        var options = {
          title: title,
          hAxis: {title: 'Opfølgning', titleTextStyle: {color: 'blue'}}
        };

        var element = 'chart_div' + i;
        var chart = new google.visualization.ColumnChart(document.getElementById(element));
        chart.draw(data, options);
      }
    </script>

<h1 class="score_report">BPM-Rapport</h1>
<hr>

<%= render :partial => "shared/center_info", :object => @journal %>

<br/>
<hr>

<div id="chart_div0" style="width: 900px; height: 500px;"></div>
<div id="chart_div1" style="width: 900px; height: 500px;"></div>
<div id="chart_div2" style="width: 900px; height: 500px;"></div>
<div id="chart_div3" style="width: 900px; height: 500px;"></div>