<h2>Status på brevforsendelser for &quot;<%=h @group.title %>&quot;</h2>

	<h3>Status</h3>
	<%= form_tag(csv_entry_status_download_path(@group.id, :format => 'csv') +".csv", :id => 'mail_task_logs', :class => 'form', :method => :post) do %>
	<span id="filter_fields">
		<p>
			<select id="follow_up" name="follow_up">
				<%= options_for_select [["Alle", ""], ['CheckifSendFollowUpLetterTask', 'CheckifSendFollowUpLetterTask'], ['SendLetterFollowUpTask', 'SendLetterFollowUpTask']] %>
			</select>
		</p>

		&nbsp;&nbsp;

		<a class="button filter_entries" href="/mail_task_logs/show/<%= @group.id %>"><span class="button filter">Filtrer</span></a>
		&nbsp;&nbsp;
		

		<br/>
		<br/>

		<input type="hidden" name="selected_state" class="selected_state" value="<%= @answer_state %>" />

	</span>
	<br/>
	<span class="commands">
<!-- 		<a class="button download_excel_file" href="javascript:void(0);" onclick="generate_file(<%= @group.id %>)" >
			<span class="download_excel_file"><%= t('export.entry_status') %></span></a>

			<select id="export_reminder_status" name="export_reminder_status">
				<option value="">Alle</option>
				<option value="0">Kun aktive</option>
				<option value="1">Kun passive</option>
			</select> -->
	</span>

	<div id="export_file" data-no-turbolink></div>


	<div id='filter_fields' style="display:none;"> <!-- Flyt ovenover hvis det skal bruges-->

	<h3>Besvaret mellem</h3>
	<label for='start_date'>Startdato</label>
	<%= select_date(@start_date, :prefix => 'start_date', :order => [:day, :month, :year], :start_year => (@start_date.year), :end_year => @stop_date.year ) %>
	<br>
	<label for='stop_date'>Slutdato</label>
	<%= select_date(@stop_date, :prefix => 'stop_date', :order => [:day, :month, :year], :start_year => (@stop_date.year), :end_year => @start_date.year ) %>
	<br>


	<span style="padding: 3px;" id='send_form' class="btn-submit">
		<span id='filter'>
			<%# link_button_to_remote("Filtrer", 'filter', :submit => "filter_fields", :method => 'get', :url => {:action => :show, :id => @group}) %>
		</span>
	</span>
</div>


<div class="tasks" id="tasks">
	<h3>Brevforsendelsesjobs</h3>
	</p>
	
	<% if @tasks.empty? %>
	<%= t('none') %>
	<% elsif @tasks.nil? %>
		Antal: <%= @tasks_count %>
	<% else %>
	<% @hide_team = true %>
	<div id="journal_entries">
		<div id="entries">
			<%= render :partial => 'entries', :locals => {} %>
		</div>
	</div>
	<%# render :partial => 'shared/ajax_pagination' %>
	<% end %>
	<% end %>
</div>

<div class="commands">
	<%= back_button team_path(@group) %>
</div>


<script type="text/javascript">


$('.tabs').each(function(tab_group){  
	new Control.Tabs(tab_group);  
});


$(document).ready(function() {
	$('.answer_state').click(function(element) {
		var selected_state = $(this).attr('href');
		console.log("selected_state: " + selected_state)
		//alert("hello: " + selected_state);
		 console.log($("input[name='selected_state']"));
		$("input[name='selected_state']").val(selected_state);
	});
	$('#select_all_box').click(function() {
		var isChecked = select_all_box.checked;
		$('td input[type="checkbox"]').each(function () {
			$(this).prop('checked', isChecked);
		});
	});

	$("a.filter_entries").click(function(ev) {
		$('#entries').html("<br/><img src='/assets/spinner.gif' />");
		var state = $('input[name="selected_state"]').val();
		// alert('click');
		var follow_up = $('#follow_up').val();
		var url = "/mail_task_logs/filter/<%= @group.id %>/" + state + "/" + follow_up;
		console.log("url: " + url);
		var data = $("#mail_task_logs").serialize();
		// console.log(data);
		$.ajax({
			url: url,
			data: data,
			dataType: 'html',
			contentType: 'text/html',
			method: 'post',
			success: function(data) {
				$('#entries').html(data);
			},
			error:  function(data) {
				console.log('error');
				console.log(data);
			}
		});
		// ev.stopPropagation();
		return false;
	});

});


function generate_file(id) {
	var state = $("input[name='selected_state']").val();
	var export_reminder = $("#export_reminder_status").val();
	var follow_up = $('#follow_up').val();

	$.ajax({
		url: '/mail_task_logs/generate_file/' + id + '?state='+state + '&active=' + export_reminder + '&follow_up=' + follow_up,
		dataType: 'html',
		method: 'post',
		success: function(response) {
			// alert(response);
			// console.log(response);
			$('#export_file').html(response);
			$('#export_file').highlight();
		}
	});
}
// </script>