<%= error_messages_for 'score' %>

<!--[form:score]-->
<table class="score_info">
	<tr>
		<td class="t_i"><label for="score_name">Symptom:</label></td>
		<td class="t"><%= text_field "score", "title" %></td>
	</tr>
	<tr>
		<td class="t_i">Skema:</td>
		<td class="t"
		<% if @score.action =~ /new|edit/ %>
			<%= render :partial => "shared/edit_survey" %>
		<% else %>

			<% if @score.survey.nil? %>
				Ingen
			<% else %>
				&nbsp;&nbsp;
				<span class='survey_color_box' style='background: <%= @score.survey.color %>;'><%= @score.survey.get_title %></span>
				<%# out << "<br>" << link_to('Vælg andet skema', { :action => :edit_survey, :id => @score.id })
				out.join.html_safe
			end %>
			<% end %>
			
		<% end %>
		</td>
	</tr>
	<tr>
		<td class="t_i"><label for="score_sum">Pointtælling:</label></td>
		<td class="t_i"><%= select 'score', 'sum', @score.sum_types.to_a %></td>
	</tr>
	<tr>
		<td class="t_i"><label for="score_sum">Skala:</label></td>
		<td class="t_i"><%= select 'score', 'score_scale_id', @score.scales.to_a %></td>
	</tr>
</table>
<p><br>
	
	<!-- Score references -->
	<p>
		<div id="update_refs"></div>

		<% unless @score.action == "new" %>
		<b>Referenceværdier</b>

		<% unless @score.survey.nil? %>
			<% if @score.score_refs.empty? %>
				<table id="score_refs">
					<tr>
					<% @score_refs_header.each do |h| %>
						<th><%= h %></th>
					<% end %>
					</tr>
				</table>
					<!-- Ingen scoreberegninger -->				
			<% else %>
				<table id="score_refs">
					<tr>
					<% @score_refs_header.each do |h| %>
						<th><%= h %></th>
					<% end	%>
					</tr>
				 	<%= render :partial => "score_ref", :collection => @score.score_refs %>
				</table>
			<% end %>


		<div id="new_score_ref_button">
			<a onclick="add_score_ref(<%= @score.id %>); return false;" href="#" class="button"><span class="add"><%= t('score.add_ref') %></span></a>
		</div>

		<!-- <div id="new_score_ref_button">
			<%# link_button_to_remote t('score.add_ref'), 'add', :url => new_score_ref_path(@score), :failure => "alert('HTTP Error ' + request.status + '!')"  %>
		</div> -->
		

		<% end %>
		<% end %>
	</p>
	<br>

	<!-- score items -->
	<p>
		<div id="update_items"></div>

		<% unless @score.action == "new" %>
		<b>Svaritems</b>

		<% unless @score.survey.nil? %>
			<%# if @score.score_items.empty? %>
				<table id="score_items">
					<% if !@score.score_items.empty? %>
					<tr>
						<% @score_items_header.each do |h| %>
						<th><%= h %></th>
						<% end %>
					</tr>
					<% @score.score_items.each do |score_item| %>
				 		<%= render :partial => "score_item", :locals => {:score_item => score_item} %>
				 	<% end %>
				<% end %>
				</table>


		<div id="new_score_item_button">
			<a onclick="add_score_item(<%= @score.id %>); return false;" href="#" class="button"><span class="add"><%= t('score.add_item') %></span></a>
		</div>
<!-- 		<div id="new_score_item_button">
			<%# link_button_to_remote t('score.add_item'), 'add', :url => new_score_item_path(@score), :failure => "alert('HTTP Error ' + request.status + '!')"  %>
		</div>
 -->		

		<% end %>
		<% end %>
	</p>

<!-- 		<h4>Params</h4> <%# debug(params) %>  -->

				<div id="debug">
				</div>

		<!--[eoform:score]-->