<%= error_messages_for 'user' %>

<script type="text/javascript">
function confirm_deactivate(state, user_name) {

	var is_on = parseInt($('#user_locked').val());
	var action = state == 3 ? "aktivere" : "deaktivere";
	if(confirm("Er du sikker på at du vil " + action + " brugeren " + user_name + "?\n\nDet betyder at brugeren ikke kan logge ind.")) {
		$('#user_locked').val(state == 3 ? 2 : 3); // deactivated state
		return true;
	}
	return false;
}
</script>

<!--[form:user]-->
			<% if flash[:error] -%>
				<div id="errorExplanation"><%= flash[:error] %></div>
			<% end %>

<table>
	<tbody>
		<tr>
			<td valign="top">

	<input name="id" type="hidden" value="<%= @group && @group.id || 0 %>" />
	
<dl>
	<dt><label for="user_login">Login</label></dt>
	<dd><%= text_field 'user', 'login'  %></dd>

	<dt><label for="user_name">Navn</label></dt>
	<dd>
		<%= text_field 'user', 'name'  %>
		<div class="hint">Efterlad tom for samme navn som login</div>
	</dd>

	<dt><label for="user_email">Email</label></dt>
	<dd><%= text_field 'user', 'email'  %></dd>
	
	<br/>
	<%= render :partial => 'password' %>


	<dt><label><%= t('roles.Roles') %></label></dt>
	<dd>
		<% @roles.to_a.each do |role|
			if @user.has_role?(role) %>
				<input id="user_roles_<%= role.id %>" type="checkbox" name="user[roles][]" value="<%= role.id %>" checked="checked" />
			<% else %>
				<input id="user_roles_<%= role.id %>" type="checkbox" name="user[roles][]" value="<%= role.id %>" />
			<% end %>
			<label for="user_roles_<%= role.id %>"><%= t("roles.#{role.title}") %></label>
			<br>
		<% end %>
	</dd>

	<% if current_user.has_access? :superadmin %>
	<dt>&nbsp;</dt>
	<dd>&nbsp;</dd>
	<dt><label for="user_state">Deaktiveret <%# t('state') %></label></dt>
	<dd><input id="user_locked" type="checkbox" name="user[state]" value=<%= @user.state %> onchange="confirm_deactivate(<%= @user.state %>, '<%= @user.name %>');" %> <%# select 'user', 'state', User.stateToStatus(User.states.reject { |key, value| !@user.state_transition_allowed?(@user.state, value) }) %></dd>
	<% end %>

</dl>
</td>

<td rowspan="300">

	<dl>
	<dt><label><%= t('groups') %></label></dt>
	<dd>
		<% to_tree(@groups).to_a.each do |groups| %>
			<% groups.flatten.each do |g| %>
			<div class="<%= !g.parent_id.nil? ? 'indent' : '' %>">
				<input id="user_groups_<%= g.id %>" type="checkbox" name="user[groups][]" value="<%= g.id %>" <%= @user.groups.include?(g) ? 'checked="checked"' : '' %> />
				<label for="user_groups_<%= g.id %>"><%= g.title %></label>
			</div>
			<% end %>
		<% end %>
	</dd>
</dl>
</td>
</tr>
<tr></tr>
<tr></tr>
</tbody>
</table>


<!--[eoform:user]-->
