<%= error_messages_for 'user' %>

<!--[form:user]-->
			<% if flash[:error] -%>
				<div id="errorExplanation"><%= flash[:error] %></div>
			<% end %>

<table>
	<tbody>
		<tr>
			<td valign="top">

	<input name="id" type="hidden" value="<%= @group && @group.id || 0 %>" />
	
<dl>
	<dt><label for="user_login">Login</label></dt>
	<dd><%= text_field 'user', 'login'  %></dd>

	<dt><label for="user_name">Navn</label></dt>
	<dd>
		<%= text_field 'user', 'name'  %>
		<div class="hint">Efterlad tom for samme navn som login</div>
	</dd>

	<dt><label for="user_email">Email</label></dt>
	<dd><%= text_field 'user', 'email'  %></dd>
	
	<br/>
	<%= render :partial => 'password' %>

	<dt><label for="user_state"><%= t('state') %></label></dt>
	<dd><%# select 'user', 'state', User.stateToStatus(User.states.reject { |key, value| !@user.state_transition_allowed?(@user.state, value) }) %></dd>

	

	<dt><label><%= t('roles.Roles') %></label></dt>
	<dd>
		<% @roles.to_a.each do |role|
			if @user.has_role?(role) %>
				<input id="user_roles_<%= role.id %>" type="checkbox" name="user[roles][]" value="<%= role.id %>" checked="checked" />
			<% else %>
				<input id="user_roles_<%= role.id %>" type="checkbox" name="user[roles][]" value="<%= role.id %>" />
			<% end %>
			<label for="user_roles_<%= role.id %>"><%= t("roles.#{role.title}") %></label>
			<br>
		<% end %>
	</dd>

</dl>
</td>

<td rowspan="300">

	<dl>
	<dt><label><%= t('groups') %></label></dt>
	<dd>
		<% to_tree(@groups).to_a.each do |groups| %>
			<% groups.flatten.each do |g| %>
			<div class="<%= !g.parent_id.nil? ? 'indent' : '' %>">
				<input id="user_groups_<%= g.id %>" type="checkbox" name="user[groups][]" value="<%= g.id %>" <%= @user.groups.include?(g) ? 'checked="checked"' : '' %> />
				<label for="user_groups_<%= g.id %>"><%= g.title %></label>
			</div>
			<% end %>
		<% end %>
	</dd>
</dl>
</td>
</tr>
<tr></tr>
<tr></tr>
</tbody>
</table>

<!--[eoform:user]-->
