<% show_last_login = current_user.has_access?(:superadmin) %>


	<h3><%= t('user.users') %></h3>
		<div id="user_list">
		<% if @userlist.users.empty? %>
		<p><%= t('none') %></p>
		<% else %>


			<% can_edit_delete = current_user.access? :user_edit_delete %>
			<table id="user_list" class="sortable list" class="users">
				<tr>
				<th class="wide sortcol sortdesc" title=<%= t('sort.name') %>><%= t('name') %></th>
				<th class="sortcol" title="<%= t('sort.role') %>"><%= t('role') %></th>
				<% if show_last_login %>
					<th class="sortcol" title="Seneste login">Login</th>
				<% end %>
				<th class="sortcol" title="<%= t('sort.group') %>"><%= t('groups') %></th>
				<% if current_user.has_access?(:superadmin) %>
				<th class="nosort" style="width: 32px;"><%# t('action') %><span style="width: 100px;">&nbsp;</span></th>
				</tr>
				<% end %>
			
				<% @userlist.users.each do |user| %>
				<tr>
					<td><%= link_to user.name, user_path(user), :title => t('user.show') %></td>
					<% roles = @userlist.roles &&  @userlist.roles[user.id] || [] %>
					<td><%= roles.any? && t("roles.#{roles.first}").capitalize || " " -%></td>

					<% groups = @userlist.groups[user.id] || [] %>
					<% if show_last_login %>
					<td title="<%= user.last_logged_in_at %>"><%= t(time_ago_in_words(user.last_logged_in_at), count: user.last_logged_in_at) %>
					</td>
					<% end %>

					<td><%= groups.join(', ') -%></td>
				<% if can_edit_delete %>
				<td style="display:inline; width: 100px;">
					<!-- <span style="display:inline;">
						<a title="Rediger Bruger" href="/users/<%= user.id %>/edit">
							<%= image_tag 'user_edit_female_24.png', :alt => 'Rediger bruger', :title => "Rediger Bruger", :class => "icon" %>
						</a>
						<a title="Slet Bruger" href="/users/delete/<%= user.id %>">
							<%= image_tag 'user_delete_24.png', :alt => 'Slet bruger', :title => "Slet Bruger", :class => "icon" %>
						</a> -->
					<span>&nbsp;</span>
					<a title="Login som denne bruger" href="/login/shadow_login/<%= user.id %>">
						<%= image_tag 'door_24.png', :alt => 'Login som denne bruger', :title => "Login som denne bruger", :class => "icon" %>
					</a>
					<%# link_to_icon 'door_24.png', shadow_login_url(user), {:alt => t('shadow_login_alt'), :title => t('shadow_login_alt')}, (			current_user.access?(:shadow_login) and user.id != current_user.id) %>
				</span>
				</td>
				<% end %>
				<tr/>
				<% end %>
			</table>
			
			<% if @userlist.users.size > 1 %>
				<div class="page_entries" > <%= page_entries_info(@userlist.users) %> </div>
				<%= will_paginate @userlist.users, :remote => {:with => 'value', :update => 'user_list'}, :outer_window => 2 -%>
				<div id="spinner" style='display:none;'><%= image_tag 'spinner.gif', :border =>0 %></div>
			<% end -%>



		<% end %>
	</div>

	<p><br/></p>
	<div class="commands">
		<%= link_button t('user.new'), new_user_path(@group), 'user_add', :title => t('user.new') %>
	</div>