<p>
<span class="h3">Centre</span>

	<span class="button" style="margin-left: 229px">
		<%= link_button t('center.new'), new_center_path, 'center_new' %>
	</span>
</p>

<% if flash[:error] -%>
	<div id="errorExplanation"><%= flash[:error] %></div>
<% end %>
<% if flash[:notice] -%>
	<div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if @can_change_center %>
	<p>
		<script type="text/javascript">
		function activate_center(elem) {
			var center_id = $('#active_center').val();
			$.post($(elem).attr('href'), {'id': center_id}, function(response) {
				window.location = '/centers/';
			});
		}
		</script>
		<%= select_tag :active_center, options_for_select(@centers.map {|c| [c.title, c.id]}, :selected => @active.id) %>
		<a class="button save" onclick="activate_center(this); return false;" href="/centers/activate"><span class="save">Aktiver</span></a>
	</p>
<% end %>

<% @hide_team = true %>
<%= render :partial => 'shared/group_list', :locals => {:groups_count => @groups_count} %>


<% if current_user.access? :center_new %>
	<div class="commands">
		<%= link_button t('center.new'), new_center_path, 'center_new' %>
	</div>
<% end %>

<input name="column" id="column" type="hidden" value="<%= @column %>" />
<input name="order" id="order" type="hidden" value="<%= @order %>" />


<script type='text/javascript'>

function get_column_order() {
	return { 'column': $('#column').val(), 'order': $('#order').val() };
}

function update_page() {

};

function get_page_params() {
	// var center = $('#center_select').val();
	// var team = $('#team_select').val();
	var column = $('#column').val();
	var order = $('#order').val();

	var p = {'column':column, 'order':order}
	// if('' != center) p.center = center;
	// if('' != team) p.team = team;
	return p;
}

function get_page_url(params) {
	var url = '/centers/?' + jQuery.param(params);
	location.href = url;
}

$(document).ready(function() {

	$('table.sortable th.sortcol').click(function() {
		var curr_order = $('#order').val();
		var curr_column = $('#column').val();
		var clicked_column = $(this).data('column');
		var clicked_order = $(this).data('order');
		console.log('current column, order: ' + curr_column + ', ' + curr_order + '  clicked: ' + clicked_column + ', ' + clicked_order);
		if(curr_column == clicked_column) {
			$('#order').val(curr_order == 'asc' ? 'asc' : 'desc');
		}
		else {
			$('#column').val(clicked_column);
			console.log(curr_order);
			$('#order').val(curr_order == 'asc' ? 'asc' : 'desc');
		}
		get_page_url(get_page_params());
	});
});

</script>