<p><span class="h3"><%=h @group.title %></span><br/></p>

<div id="tab-container">
	<ul class="tabs" class="center_tabs">
		<li class="tab" id="info_tab"><a href="#info">Info</a></li>
		<li class="tab" id="teams_tab"><a href="#center_teams"><%= t('menu.teams') %></a></li>
		<li class="tab" id="users_tab"><a href="#center_users"><%= t('menu.users') %></a></li>
		<% if false && show_journals? %>
		<li class="tab"><a href="#center_journals"><%= t('menu.journals') %></a></li>
		<% end %>
		<% if current_user.access? :subscription_new_edit %>
		<li class="tab" id="subscription_tab"><a href="#center_subscriptions"><%= t('menu.subscriptions') %></a></li>
		<% end %>
	</ul>
	<div class="tab_canvas" id="tab_canvas_<%= @group.id %>" style="position:relative;">
	<br/>
	
	<div class="center_info" id="info">
		<%= render :partial => 'info' %>
	</div>
	
	<div class="center_teams" id="center_teams">
		<div class="button" style="">
			<%= link_button t('team.new'), new_team_path(@group), 'team_new', :title => t('team.new') %>
		</div>
		<br/>

		<div id="teams_content"></div>
		
		<%= render :partial => 'commands' %>
	</div>
		
	<div class="center_users" id="center_users">
		<div id="users_content"></div>
	</div>
		
	<% if false && show_journals? %>
		<div class="center_journals" id="center_journals">
		<%= render :partial => 'shared/journals' %>
		</div>
	<% end %>
		
	<div class="center_subscriptions" id="center_subscriptions">
		<div id="subscription_content"></div>
	</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#tab-container').easytabs({  
			animate: false,
		  	animationSpeed: "fast"
		});
	});

$(document).ready(function() {
	var groupId = <%= @group.id %>;

	$('#teams_tab').click(function() {
		if($('#teams_content').is(':empty')) {
			$.getHtml("/teams/center/" + groupId, function(data) {
				$('#teams_content').html(data);
			});
		}
	})
	if(location.href.indexOf('#center_teams') > 0) $('#teams_tab').click();


	$('#users_tab').click(function() {
		if($('#users_content').is(':empty')) {
			$.getHtml("/users/center/" + groupId + "?partial=true", function(data) {
				$('#users_content').html(data);
				// $.jqTableKit.reload();
			});
		}
	});
	if(location.href.indexOf('#center_users') > 0) $('#users_tab').click();


	<% if current_user.access? :subscription_new_edit %>
	$('#subscription_tab').click(function() {
		if($('#subscription_content').is(':empty')) {
			$.getHtml("/subscriptions/center/" + groupId, function(data) {
				$('#subscription_content').html(data);
				// $.jqTableKit.reload();
			});
		}
	});
	if(location.href.indexOf('#center_subscriptions') > 0) $('#subscriptions_tab').click();
	<% end %>
});

</script>

<script type="text/javascript">
$(document).ready(function() {
  $('#content').delegate('.pagination a', 'click', function() {
    $('#spinner').show();
    $.get('users/?page='+ $(this).text() + '&partial=true',
        function(data) {
          $('#users').html(data);
          $('#spinner').hide();
        });
    return false;
  });
})
</script>

<br/>
<div class="commands">
<% if current_user.access? :center_delete %>
<%= link_button t('delete'), { :action => :delete, :id => @group }, 'center_delete', :title => t('center.delete') %>
<%= link_button t('edit'), edit_center_path(@group), 'center_edit', :title => t('center.edit') %>
<% end %>
</div>