<% can_edit_delete = current_user.access? :user_edit_delete %>
<% show_last_login = current_user.has_access?(:superadmin) %>
 
<table id="user_list" class="sortable list" class="users">
	<tr>
	<th class="wide sortcol sortdesc" title=<%= t('sort.name') %>><%= t('name') %></th>
	<th class="sortcol" title="<%= t('sort.role') %>"><%= t('role') %></th>
	<% if show_last_login %>
	<th class="sortcol" title="Seneste login">Login</th>
	<% end %>
        <th class="sortcol" title="<%= t('sort.group') %>"><%= t('groups') %></th>
	<% if can_edit_delete %>
	<th class="nosort" style="width: 92px;"><%= t('action') %><span style="width: 100px;">&nbsp;</span></th>
	</tr>
	<% end %>

	<% @users.each do |user| %>
	<tr>
		<td><%= link_to user.name.blank? && user.login || user.name, user_path(user), :title => t('user.show'), :class => show_user_status(user) %></td>
		<td><%= (roles = user.roles).any? && t("roles.#{roles.first.title}").capitalize || " " -%></td>

		<% 	user.set_perms
			if user.access?(:user_show_all)
				groups = "Alle"
			elsif current_user.access?(:user_show_teams) and !(groups = user.teams).empty?
			   	groups = groups.map { |g| g.title }.join(", ")
			else
				groups = user.center ? user.center.title : (user.centers.compact.empty? ? "" : user.centers.first.title)
 		 	end -%>
	<% if show_last_login %>
		<td title="<%= user.last_logged_in_at %>"><%= t(time_ago_in_words(user.last_logged_in_at), count: user.last_logged_in_at) %>
		</td>
	<% end %>

		<td><%= groups %>&nbsp;</td>
	<% if can_edit_delete %>
	<td style="display:inline; width: 100px;">
		<span style="display:inline;">
			<a title="Rediger Bruger" href="/users/<%= user.id %>/edit">
				<%= image_tag('user_edit_female_24.png', :title => 'Rediger Brugeren', :class => 'icon') %>
			</a>
			<a title="Slet Bruger" href="/users/delete/<%= user.id %>">
				<%= image_tag 'user_delete_24.png', :title => "Slet Bruger", :class => "icon", :alt => "Slet bruger" %>
			</a>
		<span>&nbsp;</span>
		<a title="Login som denne bruger" href="/login/shadow_login/<%= user.id %>">
			<%= image_tag 'door_24.png', :title => "Login som denne bruger", :class => "icon", :alt => "Login som denne bruger" %>
		</a>
		<%# link_to_icon 'door_24.png', shadow_login_url(user), {:alt => t('shadow_login_alt'), :title => t('shadow_login_alt')}, (current_user.access?(:shadow_login) and user.id != current_user.id) %>
	</span>
	</td>
	<% end %>
	<tr/>
	<% end %>
</table>

<% if @users.size > 1 %>
	<div class="page_entries" > <%= page_entries_info(@users) %> </div>
	<%= will_paginate @users, :renderer => 'PaginationLinkRenderer', :params => {:partial => true}, :outer_window => 2 -%>
	<div id="spinner" style='display:none;'><%= image_tag 'spinner.gif' %></div>
<% end -%>
