<table class="letter_info">
	<tr>
		<td class="t_i"><label for="letter_name">Navn:</label></td>
		<td class="t"><%= @letter.name %></td>
	</tr>
	<tr>
		<td class="t_i"><label for="letter_group"><%= center_or_team_text(@letter.group) %>:</label></td>
		<% link = if @letter.group.nil?
			 	 t('letter.all_centers')
			 else @letter.group
				 center_or_team_url(@letter.group)
			 end %>
		<td class="t"><%= link %></td>
	</tr>
	<tr>
		<td class="t_i">Brev til:</td>
		<td class="t_i"><%= t("roles.#{@letter.surveytype}") %></td>
	</tr>
	<tr>
		<td class="t_i">Opfoelgning:</td>
		<td class="t_i"><%= @letter.get_follow_up %></td>
	</tr>
	<tr>
		<td class="t_i">Indhold:</td>
		<td class="preview" style="width: 500px;"><%= @letter.letter.html_safe %></td>
	</tr>
</table>

<div class="button">
	<%= link_button t('letter.edit'), edit_follow_up_letter_url(@letter), 'letter', :title => 'Rediger brev' %> 

	<a title="Slet brev" href="/follow_up_letters/delete/<%= @letter.id %>" class="button"><span class="remove">Slet brev</span></a>
</div>	

<p>

<%= back_to_button follow_up_letters_url %>
