	<% group = subscription_presenter.group %>
	<% group_id = group.id %>

<div class="tab-container">
	<ul class="tabs" id="subscription_tabs_<%= group_id %>" class="subsection_tabs" data-group="<%= group_id %>">
	    <li class="tab"><a href="javascript:void(0);" onclick="tab(this);"><%= t('subscription.overview') %></a></li>  
	    <li class="tab"><a href="javascript:void(0);" onclick="tab(this);"><%= t('subscription.details') %></a></li> 
	</ul>
	<div class="tab_canvas" id="tab_canvas_<%= group_id %>">
		<br/>
	<div class="summary_view" id="summary_view_<%= group_id %>">
		<% if group.subscriptions.length > 0 %>
			<%= puts "-- #{subscription_presenter.summary_view.inspect}" %>
			<%= render :partial => "shared/subscription_summary", :locals => { :summary_view => subscription_presenter.summary_view } %>
		<% else %>
			<h4><%= t('subscription.none') %></h4>
		<% end %>
	</div>
	<div class="detailed_view" id="detailed_view_<%= group_id %>" style="display: none;">
		<div id="subscription_details_<%= group_id %>" style="display: normal;">
			<%= render :partial => "shared/subscription_list_new", :object => subscription_presenter.detailed_view %>
		</div>
	</div>
	<br/>
	<% if current_user.access?(:subscription_new_edit) || (@options && !@options[:hide_buttons] || false) %>
			<%= link_button t('subscription.change_subscription'), new_subscription_in_group_path(group), 'subscription_edit', :title => 'Forandr abonnementer' %>
	<% end %>
	</div>
</div>
<style type="text/css">
li.tab.active a {
	/*background: #ddd3dd;*/
}
</style>

<script type="text/javascript">
	function tab(el) {
		// console.log(el);
		var group_id = $(el).parent().parent().data('group');
		// console.log('group: ' + group_id);

		var visible = $("#summary_view_" + group_id).is(':visible');
		// console.log(group_id + " is visible: " + visible);
		if(visible) {
			$("#summary_view_" + group_id).hide();
			$(this).removeClass('active');
			$("#detailed_view_" + group_id).show();
			$(this).addClass('active');
		}
		else {
			$("#summary_view_" + group_id).show();
			$(this).addClass('active');
			$("#detailed_view_" + group_id).hide();
			$(this).removeClass('active');
		}
	}

</script>