<h2>Detaljer for forbrug</h2>

<dl>
	<dt>Center:</dt>
	<dd><%=h @group.title %></dd>

	<dt>Periode:</dt>
	<dd><%=h @start.to_date.to_s(:long) %> - <%=h @stop.to_date.to_s(:long) %><dd>
	
	<dt>Forbrug</dt>
	<dd><%= @count %></dd>
	
	<dt>Heraf login-brugere</dt>
	<dd><%= @login_count %></dd>
	
<dl>




<div class="team_journals" id="team_journals">
	<h3>Besvarelser</h3>
	</p>
	
	<% if @journal_entries.empty? %>
	<%= t('none') %>
	<% else %>
	<% @hide_team = true %>
	<div id="journal_entries">
		<% if false && !@is_answered %>
			<a class="button status_all" href="javascript:void(0);" onclick="update_reminder_status(<%= @group.id %>)" >
			<span class="">Marker som </span></a>
			<select id="reminder_status" name="reminder_status">
				<option value="Passiv">Passive</option>
				<option value="">Aktive</option>
			</select>
		<% end %>
		<div id="entries">
			<%= render :partial => 'reminders/entries', :locals => {:hide_team => true, :surveys => @surveys} %>
		</div>
	</div>
	<%# render :partial => 'shared/ajax_pagination' %>
	<% end %>
</div>

	

<br/>
<div class="commands">
<% if current_user.access? :subscription_new_edit %>
	<%# link_button 'Nulstil', subscription_reset_path(@subscription), 'subscription_reset', :title => 'Nulstil' %>
<% end %>
<%= link_button t('go_back_to_list'), subscriptions_path, 'go_back', :title => 'Tilbage til liste af abonnementer' %>
</div>
