<div class="container">
	<div id="infoheader" class="prepend-1 span-23">
	<div id='centertitle' class="span-22"><%= @center_title %></div>
</div>
<div class="span24">&nbsp;</div>
<br/>

<%= render :partial => 'surveys/survey_header' %>

<br>

<br/>


	<div id='draft-message' style='color:red;'></div>
	<div id="survey_fast_input" class="command" style="display:none;">
<!-- 		<a href="/surveys/show_fast/" class="button" title="Besvar med hurtig indtastning"><span class="survey_fast_input/<%= @survey.id %>">Hurtig indtastning</span></a>
 -->	</div>
	<br/>


	<form action="/survey_answers/create/0" id="surveyform" method="post" >
		<!-- Put before validation.add -->
		<script type='text/javascript'>
			// new Validation('surveyform', {immediate : true, stopOnFirst : true });
		</script>
		<div class='span-24'>
			<span class="prepend-1 span-4">Udfyldt af <%= select :answer, :person, @survey.answer_by %></span>
			<span class="span-8 last" >Hvis andet, skriv hvem: <input type='text' id='answer_person_other' name='answer[person_other]' /></span>
		</div>
		<br/>
		<%= render :partial => "surveys/question", :collection => @survey.questions %>

		<div id="submit_button" style="display:normal; padding-top: 15px;">
			<a class='button' style="padding-top: 5px;" id='send_form'>
				<span onclick="submitPressed = true; document.forms[0].submit(); $('send_form').hide(); $('save_draft').hide(); $('sending_form').show();">Send svar</span>
			</a>
		<div id="sending_form" style="display: none;">
			<a class='send_form button' href='#'>
				<span class="send_survey">Sender svar...</span>
			</a>
		</div>
		
		<script type="text/javascript">
			var submitPressed = false;
		</script>
			<span style="padding-left: 100px;">
				<a class='button' id='save_draft' style="display: none;">
					<span id="spinner"><%= image_tag 'spinner.gif', :alt => "spinner" %></span>
					<span class="survey_save_draft">Gem kladde</span>
				</a>
			</span>
		</div>
		<input type="hidden" name="journal_id" id="journal_id" />
	</form>
</div>

<p/> <!-- dynamic -->
	<div id="back_button" style="display:none;">
		<a href="javascript:void(0);" onclick="history.go(-1);" class="button" title="Gå tilbage">
			<span class="go_back">Tilbage</span></a>
	</div>

<script type="text/javascript">

var journal_id = 0;

function setDraftData(d, id) {
	var input_type;
	var val;
	var elem_id
	try {
		for (var i = 0; i < d.length; i++) {
			var obj = d[i];
			input_type = obj.input;
			val = obj.value;
			elem_id = obj.elem;

			if(input_type == "radio") {
				var $radios = $('input:radio[name="' + elem_id + '"]');
				if($radios.is(':checked') === false) {
     			   $radios.filter('[value=' + val + ']').attr('checked', true);
     			}
			}
			else if(input_type == "text") {
				$('#' + elem_id).val(decodeURIComponent(val));
			}
			else {
				$('#' + elem_id).val(val);
			}
		};
	} catch(e) {
		var m = "Id: " + id + " Could not set elem: " + elem_id + " to val: " + val + "  input_type: " + input_type + " " + (new Date().toString());
		logError(e, m, id);
	}
}

function logError(e, message, id) {
	var log_params = {'e' : e.toString(), "message":message}
	$.ajax({
			url: "/errors/log/" + id + ".json?message=" + message, 
			method: "GET",
			dataType: 'json',
			parameters: log_params,
			contentType: "application/json"
		});
}

function initMakeItCount() {
 	// var comments = $('textarea.comment');
  //  	console.log("textarea: " + comments.length);
  //  	for (var i = 0; i < comments.length; i++) {
  //  		makeItCount(comments[i].id, 2000);
  //  	};
}

function hideSpinner() {
	$('#spinner').hide();
	$('#surveyform').effect("highlight", {}, 500); // requires jquery-ui
}

function onReceivedDynamicData(data) {
	if(!data.logged_in) {
	    $('#centertitle').effect("pulsate", {}, 1000); // requires jquery-ui
	    $('#content_survey').effect("blind_up", {}, 1000); // requires jquery-ui
		alert("Du er ikke logget ind. Du bliver sendt til login-siden.");
		location.href = "/login";
	}
	else {
        $('#save_draft').toggle(data.show_save_draft);
        $('#submit_button').toggle(data.show_submit);
        hideSpinner();

        if(!data.login_user) {
	      	$('#journal_code').html(data.journal_code);
        	$('#survey_fast_input').show();
        }
      	$('#centertitle').html(data.center_title);
    	$('#journal_name').html(data.journal_info);
     	$('#journal_birthdate').html(data.birthdate);
	    $('#journal_info').show();
    }
};


function auto_save(url, changed_items) {
	// console.log("auto save: " + new Date().toString());
	var params = $('#surveyform').serialize();
//	if((typeof journal_id) !== 'undefined')
	params.journal_id = journal_id;
	// console.log("params: " + params);
	// console.dir(params);
	$.post(url, params) //'/survey_answers/save_draft/' + id + "?journal_id=" + journal_id, params)
	.done(function() { $('#surveyform').effect("highlight", {}, 500); });
};

function add_to_changed(arr, e) {
	// console.dir(e);
	var id = e.target.id;
	if(e.type == 'radio') {
		id = id.substring(0, id.length-2);
	}
	arr[id] = e.target.value;
	// console.dir(arr);
};

function show_only_problem_items() {
	var show_only_q = $.cookie('show_only_question');
	if(typeof(show_only_q) === "undefined" || show_only_q === "") {
		return;
	}

	$('.question').hide();
	$('#question' + show_only_q).show();
}

var changed_items = {};

jQuery(document).ready(function ($) {
	var hasChanged = false;

	var count = 0;

	journal_id = $.cookie('journal_id');
	console.log('journal_id: ' + journal_id);

	// do not add submit button when it's show only
	var doNotCall = document.location.href.match(/show_only/);
	if(doNotCall !== null)
		return;

	var val = /([0-9]+)$/;
	var matches = document.location.href.match(val);
	// console.dir(matches);
	var params = {};

	// if there's no cookie, the id in URL is a journal_entry (else a survey_id), and thus not answered by a login user
	if(matches[1] > 10)
		params['id'] = matches[1];
	
	var journal_entry = $.cookie('journal_entry');
	if((typeof(journal_entry) === "undefined")) {
		alert("Fejl: Kan ikke hente brugerinformation: ");
	}
	console.log("journal_entry: " + journal_entry);

	show_only_problem_items();

	if((typeof(journal_entry) === "undefined")) {
		alert("Fejl: Kan ikke hente journal brugerinformation: ");
	}

	
	if((typeof(journal_entry) !== "undefined")) {
		params['id'] = journal_entry;

		var ts = new Date().getTime();
		var draft_params = {
			url: "/survey_answers/json_draft_data/" + params['id'] + ".json" + "?journal_id=" + journal_id + "&" + ts, 
			cache: false,
			type: "POST",
			dataType: 'json',
			parameters: params,
			contentType: "application/json"
		};
		$.ajax(draft_params).done(function(data) {
			// console.log("got draft_data: ");
			setDraftData(data, params['id'] );
			wFORMS.behaviors['switch'].init();

			$('.comment').each(function(e) {
			    var count = $(this).data('chars');
	    		count = $(this).val().length;
			    $(this).data('chars', count);
 			    $(this).next('span').html(count + '/2000');
 	    		if(count > 2000) {
	        		$(this).val($(this).val().substring(0,2000));
		        	$(this).data('chars', count);
		    		$(this).next('span').html(count + '/2000');
			        e.preventDefault();
			        return false;
	    		}
			});
		});
	}

	var set_values_interval = 2;
	var save_draft_url = '/survey_answers/save_draft/' + params['id'] + "?journal_id=" + journal_id;
	console.log("save_draft_url: " + save_draft_url);

	var timer = $.timer(function() {
		count++;
		console.log("Save draft: " + save_draft_url);
		if(hasChanged) {
			hasChanged = false;
			timer.reset();
			count = 0;
			auto_save(save_draft_url, changed_items);
		}
	}, 60000, false); // n seconds


 	// set values in params every 5 seconds, so when clicking save_draft, the values can be saved

	/// observe any changes to input fields, set 
	$('body').on('change', "#surveyform input, #surveyform textarea", function(e) {
		hasChanged = true;
		// console.log("on change input " + new Date().toString() + ' changed: ');
		// console.dir(e.target);
		timer.reset();
		add_to_changed(changed_items, e);
	});

	$('#surveyform').bind('input propertychange', function(e) {
		hasChanged = true;
		timer.reset();
		add_to_changed(changed_items, e);
		// console.log( new Date().toString() + ' changed: ');
	});


	var ts = new Date().getTime();
	var dynamic_params = {
		url: "/survey_answers/json_dynamic_data/" + params['id'] + ".json" + "?journal_id=" + journal_id + "&" + ts, 
		cache: false,
		type: "POST",
		dataType: 'json',
		parameters: params,
		contentType: "application/json"
	};
    $.ajax(dynamic_params).done(function(data) {
    		onReceivedDynamicData(data);
    		timer.play();
    });

    $('body').delegate('#save_draft', 'click', function() {
    	timer.reset();
    	auto_save(save_draft_url, changed_items, journal_id);
    });

    changeAction('surveyform', '/survey_answers/create/' + params['id'] + "/" + journal_id);

    initMakeItCount();

    $('.comment').each(function() {
    $(this).data('chars', 0);
    $(this).parent().append('<span>0/2000</span>');

    var checkTextLength = function(e) {
	    var count = $(this).data('chars');
	    count = $(this).val().length;
	    $(this).data('chars', count);
 	    $(this).next('span').html(count + '/2000');
 	    if(count > 2000) {
	        $(this).val($(this).val().substring(0,2000));
	        alert('Der er ikke plads til mere tekst');
	        $(this).data('chars', count);
	    	$(this).next('span').html(count + '/2000');
	        e.preventDefault();
	        return false;
	    }
	};
	$('.comment').off('keyup').keyup(checkTextLength);
	$('.comment').focusout(checkTextLength);
	});
});

</script>

