<%= error_messages_for 'journal' %>

<!--[form:user]-->

<dl>
  <dt><label for="journal_code"><%= t('id') %></label></dt>
  <dd><%= text_field 'journal', 'code', { :size => 5 }  %></dd>

  <dt><label for="journal_title"><%= t('name') %></label></dt>
  <dd><%= text_field 'journal', 'title'  %></dd>

  <dt><label for="journal_sex"><%= t('gender') %></label></dt>
  <dd><%= select 'journal', 'sex', Journal.sexes.to_a %></dd>

  <dt><label for="journal_birthdate"><%= t('birthdate') %></label></dt>
  <dd><%= date_select 'journal', 'birthdate', {:start_year => Date.today.year-30, :end_year => Date.today.year, :order => [:day, :month, :year] } %></dd>

  <dt><label for="journal_nationality"><%= t('nationality') %></label></dt>
  <dd><%= collection_select('journal', 'nationality', @nationalities, :country, :country) %></dd>

  <dt><label for="journal_parent_name"><%= 'Forælder' %></label></dt>
  <dd><%= text_field('journal', 'parent_name', {:size => 40}) %></dd>

  <dt><label for="journal_parent_email"><%= 'Forælder-email' %></label></dt>
  <dd><%= text_field('journal', 'parent_email', {:size => 25}) %></dd>

  <dt><label for="journal_alt_id"><%= 'Projektnr' %></label></dt>
  <dd><%= text_field('journal', 'alt_id', :maxlength => 21, :size => 25) %></dd>

  <br/>

  <% if !@any_answered_entries %>
  <dt><label>Vælg center/team:</label></dt>
  <dd>
    <ul>
    <% grouped = @groups.group_by {|g| g.parent_or_self } %>

    <% grouped.each do |center, teams| %>
      <% group = center %>
        <li>
          <% checked = @group == group && "checked='checked'" || "" %>
          <input class="journal_center" id="team_id_<%= group.id %>" type="radio" name="team[id]" value="<%= group.id %>" <%= checked %> />
            <label for="team_id_<%= group.id %>"><%= group.title %></label>
          </li>

          <ul>
          <% teams.each do |group| %>
            <% next if group.is_a?(Center) %>
            <% checked = @group == group && "checked='checked'" || "" %>
            <li>
              <input class="journal_center" id="team_id_<%= group.id %>" type="radio" name="team[id]" value="<%= group.id %>" <%= checked %> />
              <label for="team_id_<%= group.id %>"><%= group.title %></label>
            </li>
        <% end %>
        </ul>
    <% end %>
    </ul>
    </div>


    <%# node_tree(@groups) do |group| %>
<!--       <input class="journal_center" id="journal_group_<%= group.id %>" type="radio" name="journal[group]" value="<%= group.id %>" <%= @journal.group == group && 'checked="checked"' || '' %> />
      <label for="journal_group_<%= group.id %>"><%= group.title %> Hello</label> -->
      <%# end %>
  </dd>
</dl>

<script type="text/javascript">

</script>

<% else %>
  <dt><%= center_or_team_text(@journal.group) %></label></dt>
  <dd><%= @journal.group.title %></dd>
  <br/>
<% end %>
<!--[eoform:user]-->
