	<table class="journal_info">
		<tr>
			<td class="p_i">ID:</td>
			<td class="p"><%=h @journal.qualified_id %></td>
		</tr>
		<tr>
			<td class="p_i">Journalnavn:</td>
			<td class="p"><%=h @journal.title %></td>
		</tr>
		<tr>
			<td class="p_i">Køn:</td>
			<td class="p"><%=h @journal.sex_text == "m" && "Dreng" || "Pige" %></td>
		</tr>
		<tr>
			<td class="p_i">Fødselsdato:</td>
			<td class="p"><%=h @journal.birthdate.to_s %>&nbsp;&nbsp;<% if(@journal.birthdate.day == 4.hours.from_now.day && @journal.birthdate.month == Time.now.month) %><%= image_tag('/assets/cake.png') %><% end %></td>
		</tr>
		<tr>
			<td class="p_i">Alder (år):</td>
			<td class="p"><%=h @journal.age %></td>
		</tr>
		<tr>
			<td class="p_i">Nationalitet:</td>
			<td class="p"><%=h @journal.nationality %></td>
		</tr>
		<% if !@journal.parent_name.blank? %>
		<tr>
			<td class="p_i">Forælder:</td>
			<td class="p"><%=h @journal.parent_name %></td>
		</tr>
		<% end %>
		<tr>
			<td class="p_i">Forælder-email:</td>
			<td class="p"><%=h @journal.parent_email %><% if @journal.group_id == 9259 && @journal.parent_email.blank? %>
			<%= image_tag "email_error.png", :border => 0, :title => "Mangler forælder-email: #{@journal.title}", :alt => "Mangler forælder-email: #{@journal.title}" %>
		<% end %>
			</td>
		</tr>
		<tr>
			<td class="p_i"><%= @alt_id_name %>:</td>
			<td class="p"><%=h @journal.alt_id %></td>
		</tr>
		<tr>
			<td class="p_i"><%= t('status.created') %>:</td>
			<td class="p"><%=h @journal.created_at.to_formatted_s(:long) %></td>
		</tr>
		<tr>
			<td class="p_i"><%= center_or_team_text(@journal.group) %>:</td>
		  <% if @journal.group %>
		  <%   group = @journal.group.class.to_s.underscore %> 
		  <td class="p"><%= link_to h(@journal.group.title), @journal.group, :title => "Vis #{group.camelize}" %></td>
		  <% else %>
		  	<td class="p">Ingen overordnet, denne journal er ikke tilknyttet et team eller center (bør ikke kunne ske)</td>
		  <% end %>
		  </td>
		</tr>


	<% if @journal.group_id == 9259 %>
	<tr>
		<td class="p_i"><%= 'Noter' %>:</td>
		<% if !@journal.notes.blank? %><td><div id="journal_notes"><%= @journal.notes %></div></td><% end %>
		<td class="p"><%= link_to image_tag("pencil.png", :border => 0, :alt => "Rediger noter", :title => "Rediger noter", :align => ""), edit_journal_note_path(@journal) %></td>
	</tr>
	<% end %>
	</table>