<h2>Vælg journaler fra Team &quot;<%=h @group.title %>&quot;</h2>

<%= form_tag(move_journals_url(@group), :class => 'form', :method => :post) do %>
<div class="teams" id="teams" style="float:right;">
	<p/>
	<h3>Flyt til team</h3>
  <% unless @group.errors[:parent].nil? %><div class="fieldWithErrors"><% end %>
    <% grouped = @teams.group_by {|g| g.parent_or_self } %>
    <div style="float:right;">
    <ul>
    <% grouped.each do |center, teams| %>
      <% group = center %>
        <li>
          <% checked = @group == group && "checked='checked'" || "" %>
          <input class="journal_center" id="team_id_<%= group.id %>" type="radio" name="team[id]" value="<%= group.id %>" <%= checked %> />
            <label for="team_id_<%= group.id %>"><%= group.title %></label>
          </li>

          <ul>
          <% teams.each do |group| %>
            <% checked = @group == group && "checked='checked'" || "" %>
            <li>
              <input class="journal_center" id="team_id_<%= group.id %>" type="radio" name="team[id]" value="<%= group.id %>" <%= checked %> />
              <label for="team_id_<%= group.id %>"><%= group.title %></label>
            </li>
        <% end %>
        </ul>
    <% end %>
    </ul>
    </div>
    <% unless @group.errors[:parent].nil? %></div>
  <% end %>
</div>

<div class="team_journals" id="team_journals">
	<h3>Journaler</h3>
	<% if @groups.empty? %>
		<%= t('none') %>
	<% else %>
	<% @hide_team = false %>
	<div id="journals">
		<%= render :partial => 'shared/select_journals', :locals => {:hide_team => true} %>
	</div>
	<%= render :partial => 'shared/ajax_pagination' %>
	<% end %>
	<p>
		<div class="commands">
			<br/>
			<%= submit_tag t('journal.move'), :name => 'yes', :class => 'button journal_move' %>
			<p/>
		</div>
	</p>
	<% end %>
</div>
</div>

<script type="text/javascript">
	$('.tabs').each(function(tab_group){  
    	new Control.Tabs(tab_group);  
	});
	
	$(document).ready(function() {
	  var select_all_box = $('#select_all_box');
	  var ischecked = select_all_box.val() == "1";
	    select_all_box.on('click', function() {
	      $('input[type=checkbox]').each(function() { 
	      	if(ischecked) 
		      	$(this).attr('checked', 'checked');
		    else
		    	$(this).attr('checked', '');
		  });
	    });
	});
</script>

<br/>
<div class="commands">
<% if current_user.access? :team_new_edit_delete %>
	<%= link_button t('delete'), delete_team_path(@group), 'team_delete' %>
	<%= link_button t('edit'), edit_team_path(@group), 'team_edit' %>
	<% end %>
	<%= back_button teams_path %>
</div>
