<%# cache @journal.cache_key do  %>
	<h2>Journal &quot;<%=h @journal.title %>&quot;</h2>
	<%# puts "journal: #{@journal.inspect}" %>
	<%# cache "#{@journal.cache_key}_info" do %>
		<%= render :partial => 'journal_info' %>
	<%# end %>
	
	<% if @not_answered_entries.to_a.size > 0 %>
		<h4>Skemaer der skal besvares</h4>
		<table id="not_answered" class="surveys">
			<form action="/login_letters/show_logins/<%= @journal.id %>.pdf<%= '?random=' << rand(100000).to_s %>" id="show_logins" method="get">
			<tr>
				<th>Spørgeskema</th>
				<th>Noter</th>
				<th>Tilføjet</th>
				<th><%= t('state') %></th>
				<th class="nosort"><%= t('action') %></th>
			</tr>
		<% @not_answered_entries.each do |entry| %>
			 	 <tr id='<%= "entry" + entry.id.to_s %>' class="entry_survey" data-entry="<%= entry.id %>" data-survey="<%= entry.survey.title %>">
					 <% survey = entry.survey %>
					 <td style='background-color: #<%= survey.color %>; min-width: 320px;'>
	 					<%= check_box "letters", entry.id, { :class => 'no_border'} %>
						<%= link_to image_tag("icon_input.gif", :border => 0, :alt => "Hurtig indtastning", :title => "Vis hurtig indtastning"), journal_entry_path(entry, :fast => true), :title => 'Besvar med hurtig indtastning', :style => 'float: right; width: 16px;' %>
            <%= link_to entry.get_title, show_survey_path(entry), :title => 'Besvar' %>&nbsp;&nbsp;
        	</td>
            <td style="max-width: 200px;"><%= entry.notes %> 
            	<% if entry.next %>
            		<%= image_tag "link.png", :border => 0, :title => "Kobling: #{entry.next_survey_title}",  :alt => "Koblet med #{entry.next_survey_title}" %>
            	<% end %>
            </td>
					 <td><%= entry.created_at.strftime "%d-%m-%Y" %>
					 <td><%= entry.status %></td>
					 <td style="min-width: 100px;">
					<% @entry = entry %>
					<%= entry.login_user.nil? ? "" : link_to(image_tag('icon_edit_mailbox.gif', :border => 0, 
										:class => 'icon', :title => 'Vis login-info'), show_login_letter_path(entry) + ".pdf", :popup => ['new_window, height=800,width=700']) %>
					<%= link_to image_tag("pencil.png", :border => 0, :alt => "Ret opfølgning", :title => "Ret opfølgning"), edit_journal_entry_path(entry) %>
					<a href="/journal_entries/edit_notes/<%= entry.id %>" title="Noter">
						<% image_tag 'tag_blue.png', :alt => "Noter", :title => "Noter", :align => "right" %>
					</a>

					<a class="delete_entry" href="javascript:void(0);"><%= image_tag('icon_delete_survey.gif', :border => 0, :class => 'icon icon_delete', :title => 'Fjern skema') %></a>
					<% unless entry.next && current_user.access?(:show_column_actions) %>
					<%= link_to image_tag("chain_to.png", :border => 0, :alt => "Opret kæde med andet skema", :title => "Opret kæde med andet skema"), edit_journal_entry_chain_path(entry) %>
					<% end %>

			</td>
				 </tr>
		<% end %>
		</table>
	<% end %>
	<br/>
	<p/>
	
	<div class="commands">
		<%= link_button t('survey.add'), journal_add_survey_path(@journal), 'journal_add_surveys', :title => 'Tilføj skemaer' %>
		<%= link_button t('survey.remove'), journal_remove_survey_path(@journal), 'journal_remove_surveys', :title => 'Fjern skemaer' %>
		<%= submit_tag t('letter.print'), :class => 'button letters_print', :title => 'Udskriv breve', :popup => ['new_window, height=800,width=800'] %>
	</div>
	</form>

	<br/>
	
	<% if answered_count = @answered_entries.to_a.size > 0 %>
		<br/>
		<hr/>
		<h4><%= t('survey.answered') %></h4>

		<form action="/info_answer_reports/<%= @journal.id %>.pdf<%= '?random=' << rand(10000000).to_s %>" id="show_score_rapports" method="get">
			<%= hidden_field_tag 'journal_id', @journal.id %>
			<%= hidden_field_tag 'random_for_ie', rand(1000000) %>
		<div id="answered_surveys">
		<table id="answered" class="surveys">
		<% if answered_count %>
			<th><%= t('survey.survey') %></th>
			<th><%= t('status.answered') %></th>
			<th><%= "Noter" %></th>
			<th><%= "Besvarelse" %></th>
			<th><%= "af" %></th>
			<th class="nosort"><%= t('action') %></th>
			<% @answered_entries.sort_by {|e| e.follow_up }.each do |entry| %>
		 	 	<tr id='<%= "entry_answer" + entry.id.to_s %>' class="entry_answer" data-entry="<%= entry.id %>">
					 <td class="no_border" style='background-color: #<%= entry.survey.color %>; min-width: 320px;'>
						<%= check_box "answers", entry.id, { :class => 'no_border'} %>
						<%= link_to entry.get_title, show_survey_path(entry), :title => 'Vis Besvarelse' %>
						&nbsp;&nbsp;
						<%# link_to entry.get_title, survey_answer_path(entry), :title => 'Vis Besvarelse' %>
					</td>
					 <td style="min-width: 100px;"><%= ((entry.answered_at || DateTime.now).strftime("%-d-%-m-%Y") <<
					    " (" << entry.survey_answer.age_when_answered.to_s << " år) ") %> 
						 <%= link_to image_tag("pencil.png", :border => 0, :alt => "Ret besvarelsesdato", :title => "Ret besvarelsesdato", :align => "right"), edit_date_survey_answers_path(entry) %>
					 </td>
					 <td style="max-width: 200px;"><%= entry.notes %>
					    <% if entry.next %>
					       <%= image_tag "link.png", :border => 0, :title => "Kobling: #{entry.next_survey_title}", :alt => "Koblet med #{entry.next_survey_title}" %>
					    <% end %>
					 </td>
					 <td><%= entry.status %></td>
					 <td>
						<%= entry.answered_by && t("roles.#{entry.answered_by}") || entry.status %>
					 </td>
					 <td style="min-width: 100px;"><%= link_to image_tag("printer.png", :border=>0, :alt => 'Udskriv besvarelse', :title => 'Udskriv besvarelse' ),
									('/survey_answers/print/' + entry.id.to_s + ".html"), :format => 'html', :title => 'Udskriv besvarelse' %>
						<a href="/journal_entries/edit_notes/<%= entry.id %>" title="Noter">
							<%= image_tag 'tag_blue.png', :alt => "Noter", :title => "Noter", :align => "right" %>
						</a>
							<%= link_to image_tag("icon_input.gif", :border=>0, :alt => 'Ret besvarelse', :title => 'Ret besvarelse' ), edit_survey_answer_path(entry), :title => 'Ret besvarelse' %>

						<a class="delete_answer" href="javascript:void(0);"><%= image_tag('icon_delete_survey.gif', :border => 0, :class => 'icon icon_delete', :title => 'Fjern besvarelse') %></a> 
						</td>
	
			<% end %>
		<% else %>
		   Ingen
		<% end %>
		</table>
		</div>
		<% if answered_count %>
		  <div class="commands">
				<div class="button">
					<%# link_button t('score.show_report'), answer_report_path(@journal), :class => 'button score_calculate',  :title => 'Tilføj skemaer' %>
		
					<%= submit_tag t('score.show_report'), :class => 'button score_calculate', :format => 'pdf' %>
					<label><input type="checkbox" checked="checked" name="extended_scorereport" id="select_scorereport" onchange="toggleReportType('show_score_rapports', 'select_scorereport');">Med besvarelser</label>&nbsp;&nbsp;
					<select autocomplete="off" id="select_format" name="format" onchange="toggleActionFormat('show_score_rapports', $('#select_format').val())">
						<option value="pdf">PDF</option>
						<option value="html">HTML</option>
					</select>
					<%= submit_tag t('score.show_chart'), :class => 'button score_compare', :title => 'Sammenlign scores', :onclick => "show_answer_chart(#{@journal.id});" %>
				</div>
			<% end %>
		</div>
		</form>
		<%# end %>
	<% end %>

	<% if false && @journal.task_logs.any? %>
	<div>
		<table>
			<th><%= t('task.name') %></th>
			<th><%= t('task.message') %></th>
			<th><%= t('task.date') %></th>
			<% @journal.task_logs.each do |log| %>
			<tr>
				<td><%= t(log.name) %></td>
				<td><%= t(log.message) %></td>
				<td><%= log.created_at.to_s(:long) %></td>
			</tr>
			<% end %>
		</table>
	</div>
	<% end %>

	<div class="commands">
		<%= link_button t('edit'), edit_journal_path(@journal), 'journal_edit', :title => t('edit') %>
		<%= back_button journals_path %>
		<%= link_button t('delete'), delete_journal_path(@journal), 'journal_delete', :title => "Slet Journal" %>
	</div>
	
	<script type="text/javascript">

		function toggleActionFormat(formid, format) {
			// var format = $('#'+element).val();
			var input = $('#'+formid).attr('action');
			// alert("input before: " + input);
			if(input.lastIndexOf('http') > -1) {
				input = input.replace(/(http|https).\/\//, "");
				input = input.replace(/.3000/, "");
				input = input.replace(/(?:(?:(?:(?:[a-zA-Z0-9][-a-zA-Z0-9]*)?[a-zA-Z0-9])[.])*(?:[a-zA-Z][-a-zA-Z0-9]*[a-zA-Z0-9]|[a-zA-Z])[.]?)/, "");
				// alert("input after: " + input);
			}
			var output = "";
			if(input.lastIndexOf('.') === -1)
				output = input + '.' + format;
			else 
				output = input.substr(0, input.lastIndexOf('.')) || input;
		
				output = output.replace('.html', '');
		
			// alert("output: " + output);
			document.getElementById(formid).action = output;
			$('#select_format').val(format);
		}


		function toggleReportType(formid, element) {
			console.log("element: " + element);
			console.log("formid: " + formid);
			// alert("formid: " + formid);

			var format = $('#'+element).val();
			var input = $('#'+formid).attr('action');

			var isChecked = $('#'+element).val();
			if(isChecked == "on")
				input = input.replace('score', 'answer');
			else
				input = input.replace('answer', 'score')
	
			document.getElementById(formid).action = input;
		}

		var journal_name = '<%= @journal.title %>';
		function ask_delete_entry(entry_id, survey_title, journal) {
			if(confirm("Vil du fjerne spørgeskemaet " + survey_title + "\n fra journalen " + journal + "?")) {
				$.post('/journal_entries/remove/' + entry_id, function(response) {
					$('#entry'+ entry_id).fadeOut();
				});
			}
		}

		function ask_delete_answer(entry_id, survey_title, journal) {
			if(confirm("Vil du fjerne besvarelsen " + survey_title + '\n fra journalen ' + journal + "?")) {
				$.post('/journal_entries/remove_answer/' + entry_id, function(response) {
					$('#entry'+ entry_id).fadeOut();
				});
			}
		}

		function show_answer_chart(journal_id) {
			var checked_ids = jQuery.map($('.entry_answer input:checked'), 
				function(a) { return a.id.replace("answers_", "") });
			toggleActionFormat('show_score_rapports', 'html');
			$('#show_score_rapports').attr('action', '/answer_charts/' + journal_id);
		}		

		// function show_logins(journal_id) {
		// 	var checked_ids = jQuery.map($('.entry input:checked'), 
		// 		function(a) { return a.id.replace("letters_", "") });
		// 	toggleActionFormat('show_loggins', 'html');
		// 	$('#show_score_rapports').attr('action', '/answer_charts/' + journal_id);
		// }		

		$(document).ready(function() {
			$('.entry_survey .delete_entry').each(function () {
				var entry_id = $(this).closest("tr").attr('data-entry');
				var survey = $(this).closest("tr").attr('data-survey');

				$(this).click(function () {
					ask_delete_entry(entry_id, survey, journal_name);
				});
			});

			$('.entry_answer .delete_answer').each(function () {
				var entry_id = $(this).closest("tr").attr('data-entry');
				var survey = $(this).closest("tr").attr('data-survey');

				$(this).click(function () {
					ask_delete_answer(entry_id, survey, journal_name);
				});
			});

		});


	</script>
<%# end %>  <!-- end of cache -->
