	<tr id="add_new_score_ref">
		<td><%= select 'score_ref', 'gender', [['Dreng', 1], ['Pige', 2]] %></td>
		<td><%= text_field 'score_ref', 'age_group', { :size => 6 } %></td>
		<td><%= text_field 'score_ref', 'mean', { :size => 4 } %></td>
		<td><%= text_field 'score_ref', 'percent95', { :size => 4 } %></td>
		<td><%= text_field 'score_ref', 'percent98', { :size => 4 } %></td>
	</tr>

	<tr id="create_score_ref_button">
		<td>
			<a onclick="create_score_ref(<%= @score.id %>); return false;" href="#" class="button">
				<span class="accept"><%= t(:add) %></span></a>
				&nbsp;&nbsp;
			<a onclick="cancel_score_ref(); return false;" href="#" class="button">
				<span class="cancel"><%= t(:cancel) %></span>
			</a>
		</td>
	</tr>