<script type="text/javascript">
 function toggle_export(value) {
	// alert("toggle_export value: " + vaalue);
 	if(value == "rapport")
 		changeAction('export_form', "/score_exports/download");
	else
		changeAction('export_form', "/exports/download");
	 // alert('action is: ' + $('export_form').action);
 }
 </script>


<p>
<img src="/assets/excel_export_48.png" border=0 align="middle" /><span class="h3">Dataudtræk</span>
</p>
<br/>

<%= form_tag(csv_download_path, :id => 'export_form') do %>

<div id="export_type">
	<input checked="checked" id="export_raw" name="export" onchange="toggle_export(this.value);" type="radio" value="raw">
	<label for=\"export_raw\">Rå data</label> <br>
	<input id="export_rapport" name="export" onchange="toggle_export(this.value);" type="radio" value="rapport">
	<label for=\"export_rapport\">Scorerapporter</label> <br>
</div>

<div id='filter_fields'>


<% if current_user.centers.size > 1 %>
	<script type='text/javascript'>
		$('#content').delegate('#center_selector', 'change', function() {
			$.ajax({
				url: '/teams/center/' + $('#center_selector').val() + '.json', 
				dataType: 'json',
				success: function(data) {
					$('#team_selector').find('option').remove().end()
					$(data).each(function() {
						$('#team_selector').append($("<option>").attr('value',this.id).text(this.title));
					});
					$('#team_selector').toggle(data.length > 0);
				}
			});
		});
	</script>
	<h3>Center</h3>
	<%= select('center', "", current_user.centers.map{|c| [c.title, c.id]}, {:include_blank => true}, :id => 'center_selector') %>
	<br/>
	<div>
		<br/>
		<select name="team" id="team_selector" style="display:none;"></select>
	</div>
<% else %>
	TODO: user with one center
	<% if @center.teams.any? %>
			<div id="teams">
				<h2>Team</h2>
				<%= select(:team, :id, @center.teams.map {|t| [t.title, t.id]}, :include_blank => true) %>
			</div>
	<% end %>
<% end %>
<br/>

<h3>Besvaret mellem</h3>
	<label for='start_date'>Startdato</label>
	<%= select_date(@start_date, {:prefix => 'start_date', :order => [:day, :month, :year], :start_year => 2003, :end_year => Date.today.year } ) %>
	<br>
	<label for='stop_date'>Slutdato</label>
	<%= select_date(@stop_date, :prefix => 'stop_date', :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => Date.today.year-20 ) %>
	<br>
	
<h3>Alder</h3>
	<%= render :partial => 'select_age' %>
	
	<p><h3>Vælg skema</h3></p>
		<div id="survey_color" style='width: 25em;'>
			<%= select(:survey, :id, @surveys.map {|s| [s.title, s.id]}, { :class => 'no_border' }) %>		
		</div>
	<br>
</div>	

	<div>
		<%= image_tag 'spinner.gif', :alt => 'Venter...', :id => 'filter_spinner', :style => 'display:none;' %>
		<span id="results">Antal: <%= @count_survey_answers %></span>
	</div>
	<br>
	
<span style="padding: 3px;" id='send_form' class="btn-submit">
	<script>
		function filter_button() {
			var url = '/exports/filter/' + $('#center_selector').val()
			var team = $('#team_selector').val();
			if((typeof team) !== 'undefined')
				url += '&team=' + $('#team_selector').val();
			$.get(url, $('#export_form').serialize('filter_fields'), function(data) {
				$('#result').html(data.text).fadeIn();
			});
		};
	</script>
	<span id='filter'>
		<a class='button' id='filter_button' onclick='filter_button(); return false;'><span class="filter">Filtrer</span></a>
		<%# link_button_to_remote("Filtrer", 'filter', :submit => "filter_fields", :url => export_filter_path) %>
	</span>
</span>

	<%= submit_tag 'Download', { :class => 'button download', :id => 'download' } %>
<% end %>

<br/>
